body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color:#d0d3d6;
    border-radius:10%;
}
header {
    background-color: #333;
    color: #fff;
    padding: 2px;
    text-align: center;
    border-radius:10%;
}
input{
    text-align: center;
    color: #666;
    font-size: 0.9rem;
    border-radius:15%;
    justify-content:center;
    width:250px;
    hieght:auto;
}
h1 {
    margin: 0;
}
p {
color: #aaa;
}
.art-img{
  cursor:pointer;
}
#art1{
    text-align:center;
    border-radius:10%;
    background-color:#000000;
    color: #fff;
    width:300px;
    hieght:auto;
}
#art2{
    text-align:center;
    border-radius:10%;
    background-color:#000000;
    color: #fff;
    width:300px;
    hieght:auto;
}
#art3{
    text-align:center;
    border-radius:10%;
    background-color:#000000;
    color: #fff;
    width:300px;
    hieght:auto;
}
#art4{
     text-align:center;
    border-radius:10%;
    background-color:#000000;
    color: #fff;
    width:300px;
    hieght:auto;
}
#art5{
     text-align:center;
    border-radius:10%;
    background-color:#000000;
    color: #fff;
    width:300px;
    hieght:auto;
}
#modal{
  position:fixed;
  inset:0;
  background:#000;
  display:none;
  justify-content:center;
  align-items:center;
  z-index:999;
}

#modal img{
  max-width:90%;
  max-height:90%;
}


footer {
text-align: center;
padding: 20px;
color: #666;
font-size: 0.9rem;

}




























